@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* All sites setting*/
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5862AC;
}

h1{
    color: #F7AEC4;
}
/*Buttons*/
.btn{
    border-radius: 2em;
}
.btn-primary{
    background: #5862AC;
    border: none;
    border-radius: 2em;
}
.btn-primary:active{
    background: #5862AC !important; 
    border: none !important;
    border-radius: 2em !important;
}
.btn-primary:hover{
    background: #F7AEC4;
    color: #5862AC;
    border: 1px solid #5862AC;
    border-radius: 2em;
}
.btn-outline-primary{
    border-color: #5862AC;
    color: #5862AC;
    border-radius: 2em;
}
.btn-outline-primary:active{
    background-color: #F7AEC4 !important;
    border-color: #5862AC !important;
    color: #5862AC !important;
    border-radius: 2em !important;
}
.btn-outline-primary:hover{
    background: #F7AEC4;
    color: #5862AC;
    border: none;
    border-radius: 2em;
}

.btn-outline-secondary{
    border-color: #F7AEC4;
    color: #F7AEC4;
    border-radius: 2em;
}
.btn-outline-secondary:active{
    background-color: #F7AEC4 !important;
    border-color: #5862AC !important;
    color: #5862AC !important;
    border-radius: 2em !important;
}
.btn-outline-secondary:hover{
    background: none;
    color: #5862AC;
    border-color: #5862AC;
    border-radius: 2em;
}

/*Navigation bar*/
.navbar-nav{
    color: #5862AC !important;
}
.navbar:hover {
    color: #F7AEC4;

}
.navbar:active {
    color: #5862AC;

}

.navbar-nav > li{
    justify-content: space-around;
    margin: 1.2em;
}
.nav-link{
    color: #5862AC;
}
.nav-link:hover{
    color: #F7AEC4;
}
.nav-link:active{
    color: #5862AC;
}
.dropdown{
    color: #5862AC !important;
}
.dropdown-toggle{
    color: #5862AC !important;
}
.dropdown-toggle:active{
    color: #5862AC !important;
}
.dropdown-menu li{
    justify-content: space-around;
    margin: 1em;
 }
.dropdown-item{
    color: #5862AC;
}
.dropdown-item:hover{
    color: #5862AC;
}
.dropdown-item:active{
   background-color: #F7AEC4 !important;
   color: #5862AC;
}
.navbar{
   color: #5862AC;
}
/*Card*/
.card img{
    object-fit: cover;
    width: 100%;
    height: 20em;
}
.card-title{
    color: #5862AC;
}

/*Footer*/
.form-outline{
    border-radius: 2em;
    border-color: #5862AC;
}
.form-control{
    border-radius: 2em;
    color: #5862AC;
}

/*Home page*/
.hero-img{
    background-image: url(../img/places/sky.png);
    width: 100%;
    height: auto;
    border-radius: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
.hero-caption{
    max-width: 32ch;
    min-width: 15ch;
    padding-right: 4em;
    color: white;
    margin-top: 10rem;
    margin-bottom: .5em;
    font-size: 3em;
}
.hero-para{
    color: #f7d8e2;
    max-width: 50ch;
}