.page-link{
    color: #5862AC ;
}
.active{
    background: #F7AEC4 !important;
}
.active>.page-link{
    background-color: #F7AEC4;
    color: white;
    border-color: #5862AC;
}
.card-header{
    background-color: #F7AEC4;
    color: #5862AC
}
.list-unstyle{
    list-style: none;
    text-decoration: none !important;
}